<html>

<head>
    <title>Codeial | <%= viewBag.pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <%- defineContent('style') %>
</head>

<body>
    
    <%- include('../partials/header') %>
    
    <main><%- body %></main>
    
    <%- include('../partials/footer') %>

    <%- defineContent('script') %>

</body>

</html>
