<%
    var userInfo, errorMessage;
    viewBag.pageTitle = 'Profile';
%>

<%- contentFor('style') %>

<%- contentFor('body') %>
<h2>Profile</h2>

<% if (errorMessage) { %>
    <div class="error-message"><%= errorMessage %></div> 
<% } %>

<% if (userInfo) { %>
    <div>Name : <%= userInfo.name %></div>
    <div>Email : <%= userInfo.email %></div>
<% } %>



