<%
    var userInfo, errorMessage;
    viewBag.pageTitle = 'Profile';
%>

<%- contentFor('style') %>

<%- contentFor('body') %>

<% if (errorMessage) { %>
    <div class="error-message"><%= errorMessage %></div> 
<% } %>

<% if (userInfo) { %>
    <% var userAvatar =  userInfo.avatar ? `/uploads/user-avatars/${userInfo.avatar}` : `/images/user-avatar.jpg`  %>
    <section>
        <h2>Profile</h2>
        <img src="<%= userAvatar %>" alt="user-avatar" width="150" style="margin-bottom: 10px;">
        <div>Name : <%= userInfo.name %></div>
        <div>Email : <%= userInfo.email %></div>
    </section>
<% } %>



