<%
    viewBag.pageTitle = 'Home'; 
%>

<%- contentFor('style') %>
<link rel="stylesheet" href="/css/home.css">


<%- contentFor('body') %>
<section id="feed-posts">
    <h2>Posts</h2>

    <form action="/posts/create" method="post" id="form-create-post">
        <textarea name="content" cols="30" rows="3" placeholder="Type here..." id="txt-create-post"></textarea>
        <br><br>
        <button type="submit" id="btn-create-post">Post</button>
    </form>

    <ul id="posts">
        <% for (const post of posts) { %>
            <li>
                <div><b><%= post.content %></b></div>
                <small><%= post.user.name %></small>

                <% if (post.user.id === user?.id) { %>
                    <a href="/posts/delete/<%= post.id %>" class="link-delete-post">Delete</a>  
                <% } %>
                
                <br><br>
                
                <div><b>Comments</b></div>
                
                <ul>
                    <% for (const comment of post.comments)  { %>
                        <li>
                            <p>
                                <span><%= comment.content %></span><br>
                                <small><%= comment.user.name %></small>

                                <% if (comment.user.id === user?.id) { %>
                                    <a href="/comments/delete/<%= comment.id %>">Delete</a>
                                <% } %>

                            </p>
                        </li>
                    <% } %>    
                </ul>
            
                <form action="/comments/create" method="post">
                    <input type="hidden" value="<%= post.id %>" name="postId">
                    <input type="text" name="content" placeholder="Type here to comment...">
                    <button type="submit">Add Comment</button>
                </form>
            </li>

        <% } %>
    </ul>

</section>

<section id="user-friends">
    <h2>Friends</h2>
    
    <% for (const user of allUsers) { %>
        <p>
            <a href="/users/profile/<%= user.id %>"><%= user.name %></a><br>
            <small><%= user.email %></small>
        </p>
    <% } %>
</section>