<%
    var errorMessage, message;
    viewBag.pageTitle = 'Home'; 
%>


<%- contentFor('body') %>
<section id="feed-posts">
    <h2>Posts</h2>

    <% if (message) { %><div class="message"><%= message %></div><% } %>

    <% if (errorMessage)  { %><div class="error-messsage"><%= errorMessage %></div><% } %>

    <form action="/posts/create" method="post">
        <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
        <br><br>
        <button type="submit">Post</button>
    </form>

    <ul id="posts">
        <% for (const post of posts) { %>
            <li>
                <div><%= post.content %></div>
                <small><%= post.user.name %></small>
            </li>
            <br>
        <% } %>
    </ul>

</section>