<%
    var errorMessage, message;
    viewBag.pageTitle = 'Home'; 
%>


<%- contentFor('body') %>
<section id="feed-posts">
    <h2>Posts</h2>

    <% if (message) { %>
        <div class="message"><%= message %></div>
    <% } %>

    <% if (errorMessage)  { %>
        <div class="error-messsage"><%= errorMessage %></div>
    <% } %>

    <form action="/posts/create" method="post">
        <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
        <br><br>
        <button type="submit">Post</button>
    </form>

    <ul id="posts">
        <% for (const post of posts) { %>
            <li>
                <div><b><%= post.content %></b></div>
                <small><%= post.user.name %></small>

                <% if (post.user.id === user?.id) { %>
                    <a href="/posts/delete/<%= post.id %>">Delete</a>  
                <% } %>
                
                <br><br>
                
                <div><b>Comments</b></div>
                
                <ul>
                    <% for (const comment of post.comments)  { %>
                        <li>
                            <p>
                                <span><%= comment.content %></span><br>
                                <small><%= comment.user.name %></small>

                                <% if (comment.user.id === user?.id) { %>
                                    <a href="/comments/delete/<%= comment.id %>">Delete</a>
                                <% } %>

                            </p>
                        </li>
                    <% } %>    
                </ul>
            
                <form action="/comments/create" method="post">
                    <input type="hidden" value="<%= post.id %>" name="postId">
                    <input type="text" name="content" placeholder="Type here to comment...">
                    <button type="submit">Add Comment</button>
                </form>
            </li>
            <br>
        <% } %>
    </ul>

</section>